absl_py==2.1.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
black==25.1.0
click==8.1.8+computecanada
cloudpickle==3.1.1+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
-e git+https://github.com/facebookresearch/detectron2@9604f5995cc628619f0e4fd913453b4d7d61db3f#egg=detectron2
filelock==3.17.0+computecanada
fonttools==4.56.0+computecanada
fsspec==2025.2.0+computecanada
fvcore==0.1.5.post20220512+computecanada
grpcio==1.67.0+computecanada
hydra_core==1.3.2+computecanada
iopath==0.1.9+computecanada
jinja2==3.1.6+computecanada
kiwisolver==1.4.8+computecanada
Markdown==3.7+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
mpmath==1.3.0+computecanada
mypy_extensions==1.0.0+computecanada
networkx==3.4.2+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
opencv==1.0.1+computecanada
packaging==24.2+computecanada
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@7bb4655548f98f3fedc07bf37e9040a992b054b0
pathspec==0.12.1+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.3.6+computecanada
portalocker==3.1.1
protobuf==6.30.0
pycocotools==2.0.6+computecanada
pyparsing==3.2.1+computecanada
python_dateutil==2.9.0.post0+computecanada
PyYAML==6.0.2+computecanada
six==1.17.0+computecanada
sympy==1.13.1+computecanada
tabulate==0.9.0+computecanada
tensorboard==2.19.0
tensorboard_data_server==0.7.2+computecanada
termcolor==2.5.0+computecanada
torch==2.6.0+computecanada
torchvision==0.21.0+computecanada
tqdm==4.67.1+computecanada
typing_extensions==4.12.2+computecanada
werkzeug==3.1.3+computecanada
yacs==0.1.8+computecanada
